<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareAndCure"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".BillHome"
            android:exported="false"
            android:theme="@style/Theme.bill" />
        <activity
            android:name=".WardboyHome_recycle"
            android:exported="false" />
        <activity
            android:name=".RmoHome_recycle"
            android:exported="false" />
        <activity
            android:name=".ReceptionHome_recycle"
            android:exported="false" />
        <activity
            android:name=".OTstaffHome_recycle"
            android:exported="false" />
        <activity
            android:name=".NurseHome_recycle"
            android:exported="false" />
        <activity
            android:name=".MedicalHome_recycle"
            android:exported="false" />
        <activity
            android:name=".LabHome_recycle"
            android:exported="false" />
        <activity
            android:name=".CleaningHome_recycle"
            android:exported="false" />
        <activity
            android:name=".AssistantHome_recycle"
            android:exported="false" />
        <activity
            android:name=".AssistantHome_1"
            android:exported="false"
            android:theme="@style/Theme.assistanthome_1" />
        <activity
            android:name=".AssistantHome"
            android:exported="false"
            android:theme="@style/Theme.assistanthome" />
        <activity
            android:name=".WardboyHome_1"
            android:exported="false"
            android:theme="@style/Theme.wardboyhome_1" />
        <activity
            android:name=".RmoHome_1"
            android:exported="false"
            android:theme="@style/Theme.rmohome_1" />
        <activity
            android:name=".ReceptionHome_1"
            android:exported="false"
            android:theme="@style/Theme.receptionhome_1" />
        <activity
            android:name=".OTstaffHome_1"
            android:exported="false"
            android:theme="@style/Theme.otstaffhome_1" />
        <activity
            android:name=".MedicalHome_1"
            android:exported="false"
            android:theme="@style/Theme.medicalhome_1" />
        <activity
            android:name=".LabHome_1"
            android:exported="false"
            android:theme="@style/Theme.labhome_1" />
        <activity
            android:name=".CleaningHome_1"
            android:exported="false"
            android:theme="@style/Theme.cleaninghome_1" />
        <activity
            android:name=".NurseHome_1"
            android:exported="false"
            android:theme="@style/Theme.nursehome_1" />
        <activity
            android:name=".OTstaffHome"
            android:exported="false"
            android:theme="@style/Theme.otstaffhome" />
        <activity
            android:name=".RmoHome"
            android:exported="false"
            android:theme="@style/Theme.rmohome" />
        <activity
            android:name=".LabHome"
            android:exported="false"
            android:theme="@style/Theme.labhome" />
        <activity
            android:name=".MedicalHome"
            android:exported="false"
            android:theme="@style/Theme.medicalhome" />
        <activity
            android:name=".CleaningHome"
            android:exported="false"
            android:theme="@style/Theme.cleaninghome" />
        <activity
            android:name=".ReceptionHome"
            android:exported="false"
            android:theme="@style/Theme.receptionhome" />
        <activity
            android:name=".WardboyHome"
            android:exported="false"
            android:theme="@style/Theme.wardboyhome" />
        <activity
            android:name=".NurseHome"
            android:exported="false"
            android:theme="@style/Theme.nursehome" />
        <activity
            android:name=".Patient_Home_Recycle_1"
            android:exported="false"
            android:theme="@style/Theme.patient_recycle_1" />
        <activity
            android:name=".Doctor_Home_Recycle_1"
            android:exported="false"
            android:theme="@style/Theme.doctor_recycle_1" />
        <activity
            android:name=".PatientHome_1"
            android:exported="false"
            android:theme="@style/Theme.patient1" />
        <activity
            android:name=".DoctorHome_1"
            android:exported="false"
            android:theme="@style/Theme.doctor1" />
        <activity
            android:name=".DoctorHome"
            android:exported="false"
            android:theme="@style/Theme.doctor" />
        <activity
            android:name=".PatientHome"
            android:exported="false"
            android:theme="@style/Theme.patient" />
        <activity
            android:name=".Staff"
            android:exported="false"
            android:theme="@style/Theme.staff" />
        <activity
            android:name=".HospitalProfile"
            android:exported="false"
            android:theme="@style/Theme.hospitalprofile" />
        <activity
            android:name=".HospitalHome"
            android:exported="false"
            android:theme="@style/Theme.hospitalhome" />
        <activity
            android:name=".DoctorLoginHome"
            android:exported="false"
            android:theme="@style/Theme.doctorhome" />
        <activity
            android:name=".PatientLoginHome"
            android:exported="false"
            android:theme="@style/Theme.patienthome" />
        <activity
            android:name=".otp.HospitalOtp"
            android:exported="false"
            android:theme="@style/Theme.hospitalotp" />
        <activity
            android:name=".otp.DoctorOtp"
            android:exported="false"
            android:theme="@style/Theme.doctorotp" />
        <activity
            android:name=".otp.PatientOtp"
            android:exported="false"
            android:theme="@style/Theme.patientotp" />
        <activity
            android:name=".LoginAndRegister.HospitalRegister"
            android:exported="false"
            android:theme="@style/Theme.hospitalregister" />
        <activity
            android:name=".LoginAndRegister.DoctorLogin"
            android:exported="false"
            android:theme="@style/Theme.docotrlogin" />
        <activity
            android:name=".LoginAndRegister.HospitalLogin"
            android:exported="false"
            android:theme="@style/Theme.hospitallogin" />
        <activity
            android:name=".LoginAndRegister.PatientLogin"
            android:exported="false"
            android:theme="@style/Theme.pateintlogin" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/Theme.patientandhoapital" />
        <activity
            android:name=".Splash1"
            android:exported="false"
            android:theme="@style/Theme.splash1" />
        <activity
            android:name=".SpleshActivity"
            android:exported="true"
            android:theme="@style/Theme.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>