<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareAndCure"
        tools:targetApi="31">
        <activity
            android:name=".HospitalHome"
            android:exported="false"
            android:theme="@style/Theme.hospitalhome" />
        <activity
            android:name=".DoctorHome"
            android:exported="false"
            android:theme="@style/Theme.doctorhome" />
        <activity
            android:name=".PatientHome"
            android:exported="false"
            android:theme="@style/Theme.patienthome" />
        <activity
            android:name=".otp.HospitalOtp"
            android:exported="false"
            android:theme="@style/Theme.hospitalotp" />
        <activity
            android:name=".otp.DoctorOtp"
            android:exported="false"
            android:theme="@style/Theme.doctorotp" />
        <activity
            android:name=".otp.PatientOtp"
            android:exported="false"
            android:theme="@style/Theme.patientotp" />
        <activity
            android:name=".LoginAndRegister.HospitalRegister"
            android:exported="false"
            android:theme="@style/Theme.hospitalregister" />
        <activity
            android:name=".LoginAndRegister.DoctorLogin"
            android:exported="false"
            android:theme="@style/Theme.docotrlogin" />
        <activity
            android:name=".LoginAndRegister.HospitalLogin"
            android:exported="false"
            android:theme="@style/Theme.hospitallogin" />
        <activity
            android:name=".LoginAndRegister.PatientLogin"
            android:exported="false"
            android:theme="@style/Theme.pateintlogin" />
        <activity
            android:name=".PatientHospitalDoctor"
            android:exported="false"
            android:theme="@style/Theme.patientandhoapital" />
        <activity
            android:name=".Splash1"
            android:exported="false"
            android:theme="@style/Theme.splash1" />
        <activity
            android:name=".SpleshActivity"
            android:exported="true"
            android:theme="@style/Theme.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>